body {
  background: #f8f8f8;
  color: #606060;
  font-family: 'Proxima', sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  text-align: center;
  vertical-align: middle;
}

@font-face {
  font-family: 'Proxima';
  src: url(../fonts/ProximaNova-Regular.otf);
}

@font-face {
  font-family: 'Proxima Bold';
  src: url(../fonts/ProximaNova-Bold.otf);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Proxima Bold";
  font-weight: bold;
}

p {
  letter-spacing: 1px;
  line-height: 28px;
}

hr {
  border-color: #e0e0e0;
  margin: 0 auto 20px auto;
  width: 100px !important;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

.title {
  padding-bottom: 40px;
}

.title h2 {
  color: #202020;
  /*  line-height: 20px;*/
  padding-bottom: 30px;
}

.title p {
  padding-top: 14px;
  padding-bottom: 30px;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
}


/* preloader section */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: none repeat scroll 0 0 #fff;
  background: none repeat scroll 0 0 #f9f9f9;
}

.sk-spinner-rotating-plane.sk-spinner {
  width: 40px;
  height: 40px;
  background-color: #43C0F6;
  border-radius: 50%;
  -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
  animation: sk-rotatePlane 1.2s infinite ease-in-out;
}

@keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}


/* home section */

#home {
  background: url('https://ik.imagekit.io/jjwv9v5d2vxv/intensa_gallery/home-bg_5fGKo9SNf.png') 50% 0 repeat-y fixed;
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

#home h3, #home h1 {
  letter-spacing: 2px;
}

@media (max-width: 768px) {
	#home h3 {
		font-size: 23px;
	}

	#home h1 {
		font-size: 56px;
	}
}

@media (max-width: 425px) {
	#home h3 {
		font-size: 19px;
	}

	#home h1 {
		font-size: 40px;
	}
}

/* navigation section */

.navbar-default {
  background: #fff;
  border: none;
  box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.04);
  margin: 0 !important;
}

.navbar-default .navbar-brand {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  line-height: 40px !important;
}

.navbar-default .navbar-nav li a {
  color: #606060;
  font-weight: bold;
  padding-right: 20px;
  padding-left: 20px;
  line-height: 40px;
}

.navbar-default .navbar-nav li a:hover {
  color: #42a5f5;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #42a5f5;
  background-color: transparent;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #42a5f5;
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border: none;
  padding-top: 12px;
}

.navbar-default .navbar-toggle .icon-bar {
  background: #42a5f5;
  border-color: transparent;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}


/* intro section */

#intro {
	padding-top: 180px;
	padding-bottom: 140px;
}

#intro h4 {
  padding-bottom: 16px;
}

@media (max-width: 768px) {
 	 #intro {
      	padding-top: 70px;
      	padding-bottom: 60px;
  	}
}

/* Vision mission section */

.card{
  margin-bottom: 5%;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  height: 200px;
  background-color: #f8f8f8;
}

.card-vision{
  margin-bottom: 5%;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  background-color: #f8f8f8;
}

#missonsection {
    padding: 7em 0;
    clear: both;
    background-color: white;
}
.card-body{
  margin: 0% 0% 0% 3%;
  padding: 6% 0%;
  font-size: 10px;
  
}

.card-text {
    padding-top: 9px;
    margin: 10px;
    font-size: 12px;
    font-weight: 500;
}

.card-number{
    font-size: 20px;
    color: white;
    width: 44px;
    height: 44px;
    background: #42a5f5;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.card:hover,.card-vision:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06)
}

.card-vision-text {
    font-size: 17px;
}

.card-vision-body {
    padding: 40px;
}

@media (max-width: 768px) {
	.card-vision-body {
		padding: 30px;
	}
	.card-vision-text {
		font-size: 16px;
	}

	#missonsection {
		padding: 3em 0;
	}

	.missiontitle,.vissiontitle{
		margin: 46px 0px;
	}

	.mission-card-deck .card {
		margin-bottom: 15%;
	}
}

@media (max-width: 425px) {
	.card-vision-body {
		padding: 17px;
	}
	.card-vision-text {
		font-size: 14px;
	}
}
/* event,timeline section */

#event {
  background-color: #ffffff;
  padding-top: 40px;
  padding-bottom: 40px;
}

#event .container {
  width: 100%;
  padding: 0;
  margin: 0;
}

#event .title {
  padding: 100px 60px 60px 60px;
}

#event .bg-black {
  background-color: #303030;
  color: #ffffff;
}

#event .bg-red {
  background-color: #42a5f5;
  color: #ffffff;
}

#event h3 {
  padding-bottom: 60px;
}

#event .fa {
  color: #ffffff;
  cursor: pointer;
  font-size: 30px;
  width: 150px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  transition: all 0.4s ease-in-out;
  margin-top: 40px;
  font-family: "Proxima Bold";
  font-weight: bold;
}

#event .fa:hover {
  background-color: #ffffff;
  border-radius: 50%;
  color: #303030;
}

@import url("https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans+Condensed:300");
.wrapper {
  background-color: #42a5f5;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  font: normal 16px/26px Open Sans Condensed, sans-serif;
  color: #fff;
  padding: 100px 20px 200px;
  box-sizing: border-box;
}

.block {
  z-index: 1;
  position: relative;
}

.block:before {
  content: "";
  position: absolute;
  height: calc(100% - 40px);
  width: 1px;
  background-color: #f2f2f2;
  left: 50%;
  margin-top: 90px;
}

#eventtimeline .title {
  font: bold 42px/52px Open Sans Condensed, sans-serif;
  text-align: center;
  padding: 20px;
  transition: all 0.8s ease-in-out;
}

.each-event {
  background-color: #f4f4f4;
  color: #777;
  padding: 15px;
  margin: 60px 20px;
  width: 300px;
  position: relative;
  border-radius: 4px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.event-title,
.event-date {
  color: #303030;
}

.each-event:before {
  content: "";
  position: absolute;
  top: calc(50% - 8px);
  left: -27px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 4px 20px -4px rgba(64, 64, 64, 0.8);
}

.each-event:nth-child(odd) {
  margin-left: calc(50% + 20px);
}

.each-event:nth-child(even) {
  margin-left: calc(50% - 321px);
}

.each-event:nth-child(even):before {
  left: calc(100% + 14px);
}

.title.non-focus {
  font-size: 24px;
  line-height: 34px;
  transition: all 0.8s ease-in-out;
}

.each-event.non-focus {
  color: #d2d2d2;
  background: #e6e6e6;
  margin-top: 90px;
  transform: rotateZ(45deg);
  transition: all 0.8s ease-in-out;
}

.each-event.non-focus:before {
  opacity: 0;
  background-color: #aaa;
}

#mobtimeline {
  background: #42a5f5;
}

#mobtimeline .containera {
  width: 80%;
  padding: 50px 0;
  margin: 0px auto;
  position: relative;
  overflow: hidden;
  background: #42a5f5;
}

#mobtimeline .containera:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 100%;
  background: #fff;
  z-index: 1
}

.timeline-block {
  width: -webkit-calc(50% + 8px);
  width: -moz-calc(50% + 8px);
  width: calc(50% + 8px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl
}

.marker {
  /*width: 16px;
   height: 16px;
   border-radius: 50%;
   border: 2px solid #fff;
   background: #fff;
   margin-top: 10px;
   z-index: 9999*/
  content: "";
  position: absolute;
  top: calc(50% - 8px);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 4px 20px -4px rgba(64, 64, 64, 0.8);
}

.timeline-content {
  /*   width: 95%;
   padding: 0 15px;
   color: #666;*/
  background-color: #f4f4f4;
  color: #777;
  padding: 15px;
  margin: 10px 20px;
  width: 300px;
  position: relative;
  border-radius: 4px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.timeline-content h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 500
}

.timeline-content span {
  font-size: 20px;
  color: #303030;
  font: inherit;
}

.timeline-content p {
  font-size: 100%;
  line-height: 1.5em;
  word-spacing: 1px;
  color: #888;
  padding: 10px;
}

@media screen and (min-width: 769px) {
  #mobtimeline {
    visibility: hidden;
    display: none;
  }
}

#mobtimeline {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  #mobtimeline::after {
	content: '';
	position: absolute;
	width: 6px;
	background-color: white;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
  }
  
  /* Container around content */
   #mobtimeline .container {
	padding: 10px 50px;
	position: relative;
	background-color: inherit;
	width: 50%;
  }
  
  /* The circles on the timeline */
  #mobtimeline .container::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	right: -17px;
	background-color: #61D4E8;
	border: 4px solid #2DA1E7;
	top: 15px;
	border-radius: 50%;
	z-index: 1;
  }
  
  /* Place the container to the left */
  #mobtimeline .left {
	left: 0;
  }
  
  /* Place the container to the right */
  #mobtimeline .right {
	left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  #mobtimeline .left::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	right: 30px;
	border: medium solid white;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
   #mobtimeline .right::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	left: 30px;
	border: medium solid white;
	border-width: 10px 10px 10px 0;
	border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  #mobtimeline .right::after {
	left: -16px;
  }
  
  /* The actual content */
   #mobtimeline .content {
	padding: 20px 30px;
	background-color: white;
	position: relative;
	border-radius: 6px;
  }
  
  #mobtimeline .title{
	  color: white;
  }
  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 640px) and (max-width: 768px) { 
	  #mobtimeline::after {
	  left: 28px;
	  margin-top: 14%;
	}
   }
  
   @media (min-width: 462px) and (max-width: 639px) { 
	  #mobtimeline::after {
	  margin-top: 18%;
	}
   }
  
   @media (min-width: 375px) and (max-width: 461px) { 
	  #mobtimeline::after {
	  margin-top: 28%;
	}
   }
  
   @media (max-width: 374px) { 
	  #mobtimeline::after {
	  margin-top: 31%;
	}
   }
  
  
  @media screen and (max-width: 768px) {
  /* Place the timelime to the left */
   #mobtimeline::after {
	  left: 28px;
	  margin-bottom: 71px;
	}
  }
	@media screen and (max-width: 768px) { 
  
  /* Full-width containers */
   #mobtimeline .container {
	  width: 100%;
	  padding-left: 70px;
	  padding-right: 25px;
	}
  
  /* Make sure that all arrows are pointing leftwards */
   #mobtimeline .container::before {
	  left: 60px;
	  border: medium solid white;
	  border-width: 10px 10px 10px 0;
	  border-color: transparent white transparent transparent;
	}
  
  /* Make sure all circles are at the same spot */
  #mobtimeline .left::after,  #mobtimeline .right::after {
	  left: 15px;
	}
  
  /* Make all right containers behave like the left ones */
   #mobtimeline .right {
	  left: 0%;
	}
  }

  #mobtimeline .content h2 {
	  font-size: 20px;
  }

  #mobtimeline .content h4 {
	font-size: 20px;
	font-weight: normal;
}

@media screen and (max-width: 768px) {
  #eventtimeline {
    visibility: hidden;
    display: none;
  }
  #mobtimeline .containera:before {
    left: 8px;
    width: 2px;
  }
  .timeline-block {
    width: 100%;
    margin-bottom: 30px;
  }
  .timeline-block-right {
    float: none;
  }
  .timeline-block-left {
    float: none;
    direction: ltr;
  }
  ul.cat li {
    padding: 10px;
  }
}


/* team section */

#team {
  background: #202020 url('https://ik.imagekit.io/jjwv9v5d2vxv/intensa_gallery/team-bg_r2azN-NxN.jpg') 50% 0 repeat-y fixed;
  color: #ffffff;
  padding-top: 100px;
  padding-bottom: 100px;
}

#team .title p {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
 
.our-webcoderskull ul li {
  display: none;
} 

.loadmore {
  margin-top: 30px;
  background: #43C0F6;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  font-size: 13px;
  padding: 13px 25px;
  margin-top: 60px;
}

#team .loadmore:hover {
	color: white;
    background-color: #0a9bda;
  transition: all 0.2s ease-in-out;
}

#team .loadmore:focus {
	color: white;
    background-color: #0a9bda;
}

ul{
	margin:0;
	padding:0;
	list-style:none;
  }
  
  .our-webcoderskull .cnt-block{ 
	 float:left; 
	 width:100%; 
	 background:#fff; 
	 padding:30px 20px; 
	 text-align:center; 
	 border:2px solid #d5d5d5;
	 margin: 0 0 28px;
  }
  .our-webcoderskull .cnt-block figure{
	 width:148px; 
	 height:148px; 
	 border-radius:100%; 
	 display:inline-block;
	 margin-bottom: 15px;
	 
  }
  .our-webcoderskull .cnt-block img{ 
	 width:148px; 
	 height:148px; 
	 border-radius:100%; 
  }
  .our-webcoderskull .cnt-block h3{ 
	 color:#2a2a2a; 
	 font-size:20px; 
	 font-weight:500; 
	 padding:6px 0;
	 text-transform:uppercase;
  }
  .our-webcoderskull .cnt-block h3 a{
	text-decoration:none;
	  color:#2a2a2a;
  }
  .our-webcoderskull .cnt-block h3 a:hover{
	  color:#337ab7;
  }
  .our-webcoderskull .cnt-block p{ 
	 color:#2a2a2a; 
	 font-size:13px; 
	 line-height:20px; 
	 font-weight:400;
  }

  .our-webcoderskull .cnt-block:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    transform: scale(1.05);
}
/* newsletter section */

#newsletter .container:hover .image {
  opacity: 0.3;
}

#newsletter .container:hover .middle {
  opacity: 1;
}

#newsletter .text {
  background-color: #308fc3;
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}
#newsletter .content {
  position: relative;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

#newsletter .content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

#newsletter .content:hover .content-overlay{
  opacity: 1;
}

#newsletter .content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#newsletter .content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

#newsletter .content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-size: 20px;
}

#newsletter .content-details p{
  color: #fff;
  font-size: 0.8em;
}

#newsletter .content-image{
  width: 100%;
  transition: all 0.4s ease-in-out;
}

#newsletter {
  background-color: #ffffff;
  padding-top: 100px;
  padding-bottom: 100px;
}

#newsletter h2 {
  line-height: 20px;
}

#newsletter a {
  text-decoration: none;
}

#newsletter img:hover {
  opacity: 0.9;
}

@media (max-width: 768px) {
	#newsletter {
		padding-top: 45px;
	}

	#newsletter h2 {
		line-height: 0;
		font-size: 30px;
		color: #606060;
	}
}

/*gallery section*/

#gallery {
  padding-top: 100px;
  padding-bottom: 80px;
}

#gallery h2 {
  color: black;
}

.gallery_product {
  margin-bottom: 30px;
}

.categories {
  margin-bottom: 20px;
}

ul.cat li {
  display: inline-block;
}

ul.cat li:last-child {
  margin-top: 10px;
}

ol.type li {
  display: inline-block;
  margin-right: 20px;
}

ol.type li div {
  font-family: 'Montserrat', sans-serif;
  color: #444;
  font-size: 14px;
  padding: 10px 20px;
  border: 2px solid #308fc3;
  border-radius: 0;
  text-transform: uppercase;
}

ol.type li div.active {
  background: #308fc3;
  color: #eee;
}

ol.type li div:hover {
  background: #308fc3;
  color: #eee;
  cursor: pointer;
}

.isotope-item {
  z-index: 2
}

.isotope-hidden.isotope-item {
  z-index: 1
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope-item {
  margin-right: -1px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 0 10px;
}

.isotope {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}

@media (max-width: 768px) {
	#gallery {
		padding-top: 45px;
	}

	#gallery h2 {
		line-height: 0;
		font-size: 30px;
		color: #606060;
		padding-bottom: 30px;
	}
}

/* contact section */

#contact {
  background: #ffffff;
  color: black;
  padding-top: 100px;
  padding-bottom: 80px;
}

#contact .info .email:hover i, #contact .info .address:hover i, #contact .info .phone:hover i {
  background: #308fc3;
  color: #fff;
}

#contact .info i {
  font-size: 20px;
  color: #308fc3;
  float: left;
  width: 44px;
  height: 44px;
  background: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

#contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #7a6960;
}

#contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #ab9d95;
}

#contact .info {
  text-align: left;
}

@media (max-width: 768px) {
#contact {
	padding-top: 45px;
}
}

/* footer section */

footer {
  background: #202020;
  color: #ffffff;
  /* border-bottom: 10px solid #ffffff; */
  padding-top: 60px;
  padding-bottom: 60px;
}

footer h2 {
  padding-top: 40px;
  padding-bottom: 20px;
}

footer p {
  line-height: 20px;
}

footer .copyright a {
  color: #42a5f5;
}

.social-icon {
  padding: 0;
  margin: 0;
  text-align: center;
  vertical-align: middle;
}

.social-icon li {
  list-style: none;
  display: inline-block;
}

.social-icon li a {
  background: #f8f8f8;
  border-radius: 100%;
  color: #42a5f5;
  font-size: 25px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  margin: 0 6px 40px 6px;
}

.social-icon li a:hover {
  background: #42a5f5;
  color: #f8f8f8;
}

@media (max-width: 768px) {
footer h2 {
    padding-top: 0;
    font-size: 30px;
    padding-bottom: 20px;
}
}

@media screen and (max-width:980px) {
  .navbar-default .navbar-nav li a {
    padding-right: 14px;
    padding-left: 14px;
    font-size: 13px;
  }
  #intro h2 {
    font-size: 32px;
  }
  #event .title {
    padding: 80px 20px 20px 20px;
  }
  .portfolio-thumb .portfolio-overlay {
    padding-top: 24px;
  }
}

@media (max-width:767px) {
  .navbar-brand {
    padding-top: 6px;
  }
}

@media (max-width:400px) {
  #intro h2 {
    font-size: 20px;
  }
  .portfolio-thumb .portfolio-overlay {
    padding-top: 60px;
  }
}